.bprogress .bar {
  border-radius: 10px;
}

.num {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', var(--font-family) !important;
  font-variant-numeric: lining-nums tabular-nums !important;
}

.bidi-isolate {
  unicode-bidi: isolate;
}

.header {
  --padding-left: 16px;
  --padding-right: 16px;
}

@media (min-width: 768px) {
  .header {
    --padding-left: 2rem;
    --padding-right: 2rem;
  }
}

.header {
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

html[dir='ltr'] body[data-scroll-locked] .header {
  padding-right: calc(
    var(--padding-right) + var(--removed-body-scroll-bar-size)
  );
  padding-left: var(--padding-left);
}

html[dir='rtl'] body[data-scroll-locked] .header {
  padding-right: var(--padding-right);
  padding-left: calc(var(--padding-left) + var(--removed-body-scroll-bar-size));
}

.min-h-vh,
.min-h-svh {
  min-height: 100vh;
  min-height: 100svh;
}
.h-vh,
.h-svh {
  height: 100vh;
  height: 100svh;
}
.h-dvh {
  height: 100vh;
  height: 100dvh;
}

.min-h-dvh {
  min-height: 100vh;
  min-height: 100dvh;
}

@media (display-mode: standalone) {
  .min-h-dvh {
    min-height: 100vh !important;
    min-height: 100svh !important;
  }
  .h-dvh {
    min-height: 100vh !important;
    height: 100svh !important;
  }
}

.dashboard_container {
  max-width: 1460px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.5rem;
}

[data-slate-node='element'][data-ltr-element]:not([dir]) {
  direction: ltr;
}

[dir='rtl'] .toggle {
  right: calc(var(--spacing) * -0.5);
  left: auto;
}
