[data-pinned] {
  position: sticky !important;
  z-index: 10;
}

[data-pinned='left'] {
  right: var(--pinned-position);
}

[data-pinned='right'] {
  left: var(--pinned-position);
}

[data-pinned='left'][data-is-last-pinned='true'] {
  box-shadow: -5px 0 8px -2px rgba(0, 0, 0, 0.1);
}

[data-pinned='right'][data-is-first-pinned='true'] {
  box-shadow: 5px 0 8px -2px rgba(0, 0, 0, 0.1);
}
.resize-handler {
  left: 4px;
}
/* [data-pinned='right'] .resize-handler {
  right: 4px;
} */

[data-slot='table-head'][data-pinned] {
  background-color: hsl(var(--muted));
}
[data-slot='table-head'][data-pinned] .drag-handle {
  display: none;
}

[data-slot='table-cell'][data-pinned] {
  background-color: hsl(var(--background));
}

.group\/row:nth-child(even) [data-slot='table-cell'][data-pinned] {
  background-color: hsl(var(--muted));
}

.group\/row:hover [data-slot='table-cell'][data-pinned] {
  background-color: hsl(var(--muted));
}

[data-pinned='left'] {
  isolation: isolate;
}

[data-pinned='right'] {
  isolation: isolate;
}

.richtext-flex .lucide-undo2 {
  transform: scaleX(-1);
}
.richtext-flex .lucide-redo2 {
  transform: scaleX(-1);
}

.richtext-flex [role='switch'] {
  direction: ltr;
}

.richtext-flex.richtext-items-center.richtext-justify-between.richtext-p-3.richtext-border-t {
  display: none;
}

.richtext-flex.richtext-items-center.richtext-duration-200.richtext-ease-in-out
  > button {
  display: none;
}

.richtext-flex.richtext-max-h-full.richtext-w-full.richtext-flex-col
  > .richtext-px-1.richtext-py-2 {
  background-color: hsl(var(--gray-100) / 80%);
}
